# Meta key

set $mod Mod4

# Theme

font pango:FiraCode 8

set $dark-2e  #2e3440
set $dark-3b  #3b4252
set $dark-43  #434c5e
set $dark-4c  #4c566a
set $red      #bf616a
set $yellow   #ebcb8b
set $light-d8 #d8dee9

#                       Border    Backgr.   Color     Indic.  Child
client.focused          $dark-3b  $light-d8 $dark-2e  $yellow $dark-3b
client.focused_inactive $light-d8 $dark-3b  $light-d8 $yellow $dark-3b
client.unfocused        $dark-3b  $dark-3b  $light-d8 $yellow $dark-3b
client.urgent           $dark-3b  $red      $light-d8 $yellow $dark-3b

default_border pixel 1
hide_edge_borders vertical
gaps inner 8
for_window [class=".*"] opacity 0.9

output "*" bg ~/.dotfiles/theme/wp-flat-sunset-mountains.jpeg fill

# Modes

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen toggle
bindsym $mod+Shift+space floating toggle

bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

# Layouts

bindsym $mod+Shift+v split h
bindsym $mod+v split v

bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent

# Workspaces

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Navigation

set $up    k
set $right l
set $down  j
set $left  h

bindsym $mod+$up    focus up
bindsym $mod+$right focus right
bindsym $mod+$down  focus down
bindsym $mod+$left  focus left

bindsym $mod+Shift+$up    move up
bindsym $mod+Shift+$right move right
bindsym $mod+Shift+$down  move down
bindsym $mod+Shift+$left  move left

# Resize

bindsym $mod+r mode "resize"

mode "resize" {
  bindsym $up    resize grow   height 10 px or 1 ppt
  bindsym $right resize shrink width  10 px or 1 ppt
  bindsym $down  resize shrink height 10 px or 1 ppt
  bindsym $left  resize grow   width  10 px or 1 ppt

  bindsym Return mode "default"
  bindsym Escape mode "default"
}

# Status bar

bar {
  swaybar_command waybar
}

# Keyboard

input * {
  xkb_layout  "us,ru"
  xkb_variant "dvorak-alt-intl,"
  xkb_options "grp:shifts_toggle"
  repeat_delay 250
  repeat_rate  33
}

# Audio

bindsym XF86AudioLowerVolume  exec pactl set-sink-volume @DEFAULT_SINK@   -5%
bindsym XF86AudioRaiseVolume  exec pactl set-sink-volume @DEFAULT_SINK@   +5%
bindsym XF86AudioMute         exec pactl set-sink-mute   @DEFAULT_SINK@   toggle
bindsym XF86AudioMicMute      exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioNext         exec playerctl next
bindsym XF86AudioPlay         exec playerctl play-pause
bindsym XF86AudioPrev         exec playerctl previous

# Brightness

bindsym XF86MonBrightnessUp         exec brightnessctl set +1%
bindsym Shift+XF86MonBrightnessUp   exec brightnessctl set +5%
bindsym $mod+XF86MonBrightnessUp    exec brightnessctl set +100%
bindsym XF86MonBrightnessDown       exec brightnessctl set 1%-
bindsym Shift+XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym $mod+XF86MonBrightnessDown  exec brightnessctl set 1%

# Capture

bindsym --release Print             exec "~/.dotfiles/capture/capture-selection.sh"
bindsym --release $mod+Print        exec "~/.dotfiles/capture/capture-screen.sh"
bindsym --release Shift+Print       exec "~/.dotfiles/capture/record-selection.sh"

# Touchpad

exec xinput set-prop "DELL07E6:00 06CB:76AF Touchpad" "Synaptics Scrolling Distance" -27 -27
exec xinput set-prop "DELL07E6:00 06CB:76AF Touchpad" "Synaptics Tap Action" 0

# Multi screen
# exec --no-startup-id "xrandr | grep '^DP-2 c' && xrandr --output DP-2 --primary --output eDP-1 --noprimary --left-of DP-2"

# Rofi menus

bindsym $mod+d exec "rofi -show run"
bindsym $mod+t exec "~/.dotfiles/gpg/type-password.sh"

# User services
exec --no-startup-id "systemctl --user start mako"
exec --no-startup-id "systemctl --user start gammastep"

# Misc

bindsym $mod+Return exec kitty
bindsym $mod+Shift+r reload
bindsym $mod+Shift+q kill

focus_follows_mouse no
