# General

cursor_blink_interval      0.5
cursor_stop_blinking_after 0

font_family Fira Code
font_size   15
background_opacity 0.9

sync_to_monitor no
linux_display_server wayland

# Mappings

map ctrl+shift+n new_os_window_with_cwd

# Theme

background            #2e3440
foreground            #d8dee9
selection_background  #3b4252
selection_foreground  #d8dee9
cursor                #88c0d0
url_color             #5e81ac

# Darks
color0  #3b4252
color8  #434c5e

# Reds
color1  #bf616a
color9  #d08770

# Greens
color2  #a3be8c
color10 #a3be8c

# Yellows
color3  #ebcb8b
color11 #a3be8c

# Blues
color4  #5e81ac
color12 #81a1c1

# Magentas
color5  #b48ead
color13 #b48ead

# Cyans
color6  #88c0d0
color14 #8fbcbb

# Lights
color7  #d8dee9
color15 #eceff4
