[submodule "neovim/plugins/nvim-treesitter"]
	path = neovim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "neovim/plugins/nvim-lspconfig"]
	path = neovim/plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "neovim/plugins/lsp-status.nvim"]
	path = neovim/plugins/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "neovim/plugins/snippets.nvim"]
	path = neovim/plugins/snippets.nvim
	url = https://github.com/norcalli/snippets.nvim
[submodule "neovim/plugins/completion-nvim"]
	path = neovim/plugins/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "neovim/plugins/nvim-compe"]
	path = neovim/plugins/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule "neovim/plugins/popup.nvim"]
	path = neovim/plugins/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "neovim/plugins/plenary.nvim"]
	path = neovim/plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "neovim/plugins/telescope.nvim"]
	path = neovim/plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "neovim/plugins/vim-prettier"]
	path = neovim/plugins/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "neovim/plugins/vim-commentary"]
	path = neovim/plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "neovim/plugins/vim-repeat"]
	path = neovim/plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "neovim/plugins/vim-surround"]
	path = neovim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "neovim/plugins/vim-abolish"]
	path = neovim/plugins/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "neovim/plugins/vim-gnupg"]
	path = neovim/plugins/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "neovim/plugins/emmet-vim"]
	path = neovim/plugins/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "neovim/plugins/dracula"]
	path = neovim/plugins/dracula
	url = https://github.com/dracula/vim.git
[submodule "neovim/plugins/vim-vsnip"]
	path = neovim/plugins/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "neovim/plugins/vim-vsnip-integ"]
	path = neovim/plugins/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "neovim/plugins/ultisnips"]
	path = neovim/plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "neovim/plugins/vim-ledger"]
	path = neovim/plugins/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "neovim/plugins/galaxyline.nvim"]
	path = neovim/plugins/galaxyline.nvim
	url = https://github.com/glepnir/galaxyline.nvim.git
[submodule "neovim/plugins/nvim-web-devicons"]
	path = neovim/plugins/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "neovim/plugins/zeta-note"]
	path = neovim/plugins/zeta-note
	url = https://github.com/artempyanykh/zeta-note.git
[submodule "neovim/plugins/vim-markdown"]
	path = neovim/plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "neovim/plugins/neogit"]
	path = neovim/plugins/neogit
	url = https://github.com/TimUntersberger/neogit.git
[submodule "neovim/plugins/nvim-cmp"]
	path = neovim/plugins/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "neovim/plugins/cmp-buffer"]
	path = neovim/plugins/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "neovim/plugins/cmp-nvim-lsp"]
	path = neovim/plugins/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "neovim/plugins/cmp-path"]
	path = neovim/plugins/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "neovim/plugins/cmp-nvim-ultisnips"]
	path = neovim/plugins/cmp-nvim-ultisnips
	url = https://github.com/quangnguyen30192/cmp-nvim-ultisnips.git
[submodule "neovim/plugins/cmp-nvim-lua"]
	path = neovim/plugins/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua.git
[submodule "neovim/plugins/diffview.nvim"]
	path = neovim/plugins/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "neovim/plugins/gitsigns.nvim"]
	path = neovim/plugins/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "neovim/plugins/barbar.nvim"]
	path = neovim/plugins/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim.git
[submodule "neovim/plugins/coq_nvim"]
	path = neovim/plugins/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim.git
[submodule "neovim/plugins/coq.artifacts"]
	path = neovim/plugins/coq.artifacts
	url = https://github.com/ms-jpq/coq.artifacts.git
