[Unit]
Description=Dunst service

[Service]
ExecStart=/usr/bin/dunst
WorkingDirectory=%h/.dotfiles/display/dunst
Environment=DISPLAY=:0
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
