* {
  font-family: JetBrains Mono;
  font-size: 1.2rem;
}

#waybar {
  background-color: #21242b;
  color: #bbc2cf;
  border-bottom: 2px solid #3f444a;
}

#battery,
#temperature,
#cpu,
#memory,
#disk,
#language,
#backlight,
#pulseaudio,
#mode,
#network,
#custom-dask {
  padding: 0.5rem 0.75rem;
}

#battery.good {
  color: #98be65;
}

#battery.warning {
  color: #da8548;
}

.critical {
  background-color: #ff6c6b;
  color: #bbc2cf;
}

#battery.charging {
  color: #ecbe7b;
}

.todo {
  font-weight: bold;
  color: #ff6c6b;
}

#custom-dask.todo {
  color: #da8548;
}

#custom-dask.done {
  color: #98be65;
}


#tray {
  padding: 0.5rem 0.75rem;
}

/* Pacman */

#custom-pacman {
  color: #51afef;
  padding: 0.5rem 0.75rem;
}

/* Binance wallet */

#custom-binance {
  padding: 0.5rem 0.75rem;
}

/* Weather */

#custom-weather {
  padding: 0.5rem 0.75rem;
}

/* GitHub */

#custom-github {
  color: #51afef;
  padding: 0.5rem 0.75rem;
}
