[Unit]
Description=Compton service
After=dbus.service
Requires=dbus.service

[Service]
ExecStart=/usr/bin/compton --config config
WorkingDirectory=%h/.dotfiles/desktop/compton
Environment=DISPLAY=:0
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
